@import url("https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500&display=swap&subset=latin-ext");

$fontFamily: "Saira Condensed", sans-serif;
$doisEm: 1em 1em;
$heightFooter: 50px;
$colorRed: #ab1725;
$fontWeight: 700;

html * {
  font-family: $fontFamily;
}

.myFooter {
  margin: $doisEm;
  padding: $doisEm;
  height: $heightFooter;
}

.theme-grayLight {
  background-color: #fafafa !important;
}

@mixin fontWeight-color {
  font-weight: $fontWeight;
  color: $colorRed;
}

.divType3:hover {
  .type3 {
    @include fontWeight-color;
  }
}

.divType2:hover {
  .type2 {
    @include fontWeight-color;
  }
}

.divType:hover {
  .type {
    @include fontWeight-color;
  }
}

@mixin borderColorHover {
  border-color: #262626;
}

@mixin circuloColor {
  border-style: solid;
  border-width: 10px;
  border-color: #f2f2f2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin: 15px;
}
.circuloBlue {
  @include circuloColor;
  background-color: rgb(0, 81, 255);
}

.circuloBlue:hover {
  @include borderColorHover;
}

.circuloRed {
  @include circuloColor;
  background-color: #ab1725;
}

.circuloRed:hover {
  @include borderColorHover;
}

.circuloBlack {
  @include circuloColor;
  background-color: #0f1c2d;
}

.circuloBlack:hover {
  @include borderColorHover;
}
